<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="イラストとかをドット絵っぽく変換するんだよ">
    <title>ドット絵こんばーた</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/original.css" rel="stylesheet">
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-right">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="./" class="navbar-brand">ドット絵こんばーた</a>
        </div>
        <div class="collapse navbar-collapse" id="nav-right">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" data-toggle="modal" data-target="#info">せつめい</a></li>
                <li><a href="https://twitter.com/tsutsuji815" target="_blank">Twitter</a></li>
                <li><a href="https://github.com/tsutsuji815/pixel_convert" target="_blank">GitHub</a></li>
                <li><a href="https://monopro.org/" target="_blank">SITE</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="modal fade in" id="info" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modal-label">説明とか</h4>
            </div>
            <div class="modal-body">
                <p>
                    画像をモザイク化→色をクラスタリングしてドット絵っぽくします。<br>
                    途切れ途切れの輪郭線とかノイズのドットが気になるときは平滑化するとマシになるかも。<br>
                    質問とか要望とか言いたいことがある人は<a href="https://twitter.com/tsutsuji815">Twitter(@tsutsuji815)</a>までどうぞ<br>
                </p>
                <h4>ざっくりとした仕様とか</h4>
                <ul>
                    <li>対応している画像は2MBまでのjpegとpngです</li>
                    <li>画像解像度は容量以内であれば制限はありませんが、長辺が1024pxを超えるものは1024pxに縮小されます</li>
                    <li><s>RGBAやグレースケールのものも扱えますが、出力時にRGBに変換されます<br>
                        なので透過は無視されます</s></li>
                    <li>透過PNGに対応しました(2017/05/23)<br>
                    <li>「透過PNGで書き出す」にチェックを入れるとRGBAの画像は透過PNGとしてそのまま書き出されます</li>
                    <li>ただしこの時アルファチャンネルはドットのサイズに拡大され、半透明は無視されます</li>
                    <li>「Twitter用に1pxだけ透過」にチェックを入れると左上の1ピクセルだけ透明な透過PNGとして書き出します<br>
                    jpegへの強制圧縮を回避したい時に使ってください</li>
                    <li>処理結果画像は一定期間保持された後削除されます。SNSなどに貼るときは一度ローカルへの保存をおすすめします</li>
                </ul>
                <h4>だいたいの原理とか</h4>
                <ul>
                    <li>OpenCVを用いてまず画像をn分の1に縮小→元サイズに復元してモザイク化します</li>
                    <li>この時必要に応じて平滑化やerodeなどのフィルターを掛けます</li>
                    <li>次に全ピクセルの色をk色にkmeansで分類しそれぞれの平均値を求め、色を置き換え減色します</li>
                    <li>そして出来上がるのがドット絵っぽい処理画像です</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <form action="./" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label>画像(最大2MBまで)<br>透過PNGに対応しました(2017/05/23)</label>
                    <input type="file" name="image" accept='image/png,image/jpeg'>
                </div>
                <div class="form-group">
                    <div>色の数</div>
                    <label class="radio-inline"><input name="k" type="radio" value="2">2</label>
                    <label class="radio-inline"><input name="k" type="radio" value="4" checked>4</label>
                    <label class="radio-inline"><input name="k" type="radio" value="8">8</label>
                    <label class="radio-inline"><input name="k" type="radio" value="16">16</label>
                </div>
                <div class="form-group">
                    <div>ドットの大きさ</div>
                    <label class="radio-inline"><input name="scale" type="radio" value="1">1</label>
                    <label class="radio-inline"><input name="scale" type="radio" value="2" checked>2</label>
                    <label class="radio-inline"><input name="scale" type="radio" value="3">3</label>
                    <label class="radio-inline"><input name="scale" type="radio" value="4">4</label>
                    <label class="radio-inline"><input name="scale" type="radio" value="5">5</label>
                </div>
                <div class="form-group">
                    <div>画像を平滑化</div>
                    <label class="radio-inline"><input name="blur" type="radio" value="0" checked>なし</label>
                    <label class="radio-inline"><input name="blur" type="radio" value="50">弱</label>
                    <label class="radio-inline"><input name="blur" type="radio" value="100">中</label>
                    <label class="radio-inline"><input name="blur" type="radio" value="200">強</label>
                </div>
                <div class="form-group">
                    <div>輪郭線を膨張</div>
                    <label class="radio-inline"><input name="erode" type="radio" value="0" checked>なし</label>
                    <label class="radio-inline"><input name="erode" type="radio" value="1">弱</label>
                    <label class="radio-inline"><input name="erode" type="radio" value="2">強</label>
                </div>
                <div class="form-group">
                    <label><input name="alpha" type="checkbox" value="1" checked>透過PNGで書き出す</label>
                    <label><input name="to_tw" type="checkbox" value="1" checked>Twitter用に1pxだけ透過</label>
                </div>
                <button type="submit" class="btn btn-primary">実行</button>
            </form>
            <div class="add-margin-top">
                <a href="https://twitter.com/share" class="twitter-share-button"
                   data-url="https://app.monopro.org/pixel/" data-text="ドット絵こんばーた" data-size="large"
                   data-hashtags="ドット絵こんばーた">Tweet</a>
                <script>
                    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
                </script>
                <p>取り急ぎ付けたただのボタンなんで画像添付ツイートはちょっとまってね</p>
            </div>
        </div>
        {% if result %}
        <div class="col-md-9 add-margin-top">
            <ul class="nav nav-tabs">
                <li class="nav-item active">
                    <a href="#result" class="nav-link" data-toggle="tab">出力結果</a>
                </li>
                <li class="nav-item">
                    <a href="#original" class="nav-link" data-toggle="tab">元画像</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="result" class="tab-pane active">
                    <img class="img-responsive" src="{{ result }}">
                    {% if colors %}
                    <div class="add-margin-top">
                        {% for color in colors %}
                        <span class="label" style="background-color: {{ color }};">{{ color }}</span>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div id="original" class="tab-pane">
                    <img class="img-responsive" src="{{ org_img }}">
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-md-9">
            <a class="twitter-timeline"
               href="https://twitter.com/search?q=%E3%83%89%E3%83%83%E3%83%88%E7%B5%B5%E3%81%93%E3%82%93%E3%81%B0%E3%83%BC%E3%81%9F%2Capp.monopro.org"
               data-widget-id="865822650572054529" data-chrome="nofooter noborders">#ドット絵こんばーた</a>
            <script>
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
            </script>
        </div>
        {% endif %}
        {% if error %}
        <div class="modal fade in" id="alert" tabindex="-1">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="container-fluid">
                            {{ error }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
{% if error %}
<script>
    $(document).ready(function (){
        $('#alert').modal();
    });
</script>
{% endif %}
</body>
</html>